* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0;
}

.poke-div {
    width: 120px;
    height: 120px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 auto;
    background: #fff;
}

.img-div {
    width: 90px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    cursor: pointer;
}

.img-div:active {
    transform: scale(0.8);
}

.img-div img {
    width: 80px;
    height: 80px;
}

.p-div {
    width: 90px;
    height: 20px;
    margin: 5px auto;
}

.p-div p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
}
